<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.AmanitaDesign.Machinarium" android:versionName="1.6.1" android:versionCode="10008899" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17" />
  <uses-feature android:name="android.hardware.type.television" android:required="false" />
  <application android:name="com.east2west.testapp.GameSdkApplication"  android:debuggable="false">
    <activity android:name="com.east2west.testapp.MainActivity" android:configChanges="orientation|screenSize"  android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="false" android:largeHeap="true">
		<intent-filter>
		<action android:name="android.intent.action.MAIN"/>
		<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
    </activity>
    
    <!--sdk-->
       
    <!--end-->
    
  </application>

  <!--sdkxml-->
  
  <!--end-->
  
  
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.faketouch" android:required="false" />
  <uses-feature android:name="android.hardware.telephony" android:required="false" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
  <uses-feature android:name="android.hardware.nfc" android:required="false" />
  <uses-feature android:name="android.hardware.gps" android:required="false" />
  <uses-feature android:name="android.hardware.microphone" android:required="true" />
  <uses-feature android:name="android.hardware.sensor" android:required="false" />
  <uses-feature android:name="android.software.leanback" android:required="false" />
  <uses-feature android:name="android.hardware.microphone" android:required="false" />
</manifest>
