<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.east2west.IronMarine.drm.vivo" android:versionName="1.6.1" android:versionCode="10008899" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17" />
  <uses-feature android:name="android.hardware.type.television" android:required="false" />
  <application android:name="com.east2west.testapp.GameSdkApplication" >
    <activity android:name="com.east2west.testapp.MainActivity" android:configChanges="orientation|screenSize"  android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="false" android:largeHeap="true">
		<intent-filter>
		<action android:name="android.intent.action.MAIN"/>
		<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
    </activity>
       
    
    <!--sdk-->
    <meta-data
		android:name="vivo_union_sdk"
		android:value="4.2.0.0" />
    <activity android:name="com.vivo.unionsdk.ui.UnionActivity"
			  android:configChanges="orientation|keyboardHidden|navigation|screenSize"
			  android:theme="@android:style/Theme.Dialog">
		<intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<category android:name="android.intent.category.BROWSABLE"/>
			<data
				android:scheme="vivounion"
				android:host="union.vivo.com"
				android:path="/openjump"/>
		</intent-filter>
	</activity>
  
    		<activity android:name="com.vivo.authentication.AlertDialogActivity"
          			 android:theme="@android:style/Theme.Translucent.NoTitleBar">
   			 </activity>
    
    <!--end-->
    
  </application>

  <!--sdkxml-->
  <uses-permission android:name="vivo.game.permission.OPEN_JUMP_INTENTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
   
    
  <!--end-->
  
  
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />

  <uses-feature android:name="android.hardware.faketouch" android:required="false" />
  <uses-feature android:name="android.hardware.telephony" android:required="false" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
  <uses-feature android:name="android.hardware.nfc" android:required="false" />
  <uses-feature android:name="android.hardware.gps" android:required="false" />
  <uses-feature android:name="android.hardware.microphone" android:required="true" />
  <uses-feature android:name="android.hardware.sensor" android:required="false" />
  <uses-feature android:name="android.software.leanback" android:required="false" />

</manifest>
