<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.AmanitaDesign.Machinarium.E2W"
    android:installLocation="preferExternal"
    android:versionCode="56324"
    android:versionName="1.2">
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <uses-feature
        android:name="android.hardware.type.television"
        android:required="true" />
    <application
        android:name="com.east2west.testapp.GameSdkApplication"
        android:label="@string/app_name"
        android:icon="@drawable/app_icon">
        <activity
            android:name="com.east2west.testapp.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="E2W_LOG" android:value="open"/>
        <!--ad-->

        <!-- Shenqiad -->
        <activity
            android:name="com.shenqi.video.VideoAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.shenqi.video.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <service android:name="com.shenqi.video.DownloadService" />
        <receiver android:name="com.shenqi.video.VideoAdReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- TG CP -->
        <activity android:name="com.soulgame.sgsdk.adsdk.TGCPADActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.soulgame.sgsdk.tgsdklib.testsuite.TestSuiteActivity"></activity>
        <!-- TG ADX -->
        <activity
            android:name="com.yomob.tgsdklib.TGVideoActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.yomob.tgsdklib.TGWebActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- TG Interact -->
        <activity
            android:name="com.soulgame.sgsdk.tgsdklib.TGInteractActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <!--  ZPlayAds -->
        <activity
            android:name="com.playableads.activity.PlayableADActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <receiver android:name="com.playableads.PlayableReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Guangdiantong -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <!-- Baidu -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Centrixlink -->
        <activity android:name="com.centrixlink.SDK.FullScreenADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:ignore="InnerclassSeparator" />

        <!-- Mobvista -->
        <activity
            android:name="com.mintegral.msdk.activity.MTGCommonActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
        </activity>
        <activity
            android:name="com.mintegral.msdk.reward.player.MTGRewardVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.mintegral.msdk.interstitial.view.MTGInterstitialActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <receiver android:name="com.mintegral.msdk.click.AppReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.mintegral.msdk.shell.MTGService" >
            <intent-filter>
                <action android:name="com.mintegral.msdk.download.action" />
            </intent-filter>
        </service>

        <!-- UniPlay -->
        <activity
            android:name="com.uniplay.adsdk.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.uniplay.adsdk.InterstitialAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />

        <receiver android:name="com.uniplay.adsdk.PackageReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.uniplay.adsdk.DownloadService" />

        <!-- Vungle -->
        <activity
            android:name="com.vungle.warren.ui.VungleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Vungle android-job -->
        <service
            android:name="com.evernote.android.job.v21.PlatformJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.evernote.android.job.v14.PlatformAlarmService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.evernote.android.job.v14.PlatformAlarmServiceExact"
            android:exported="false" />
        <receiver
            android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <!-- Keep the filter for legacy intents -->
                <action android:name="com.evernote.android.job.v14.RUN_JOB" />
                <action android:name="net.vrallev.android.job.v14.RUN_JOB" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.evernote.android.job.JobBootReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            android:enabled="false"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" >
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="com.evernote.android.job.JobRescheduleService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- ByteDance -->
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTVideoLandingPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTDelegateActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.bytedance.sdk.openadsdk.service.TTDownloadService" />
        <service android:name="com.bytedance.sdk.openadsdk.service.TTDownloadHandlerService" />

        <!-- OneWay -->
        <activity
            android:name="mobi.oneway.sdk.AdShowActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />


        <!-- Baidu -->
        <provider
            android:name="com.baidu.mobads.openad.FileProvider"
            android:authorities="${applicationId}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <!--end-->
    </application>
    <!--adxml-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--end-->
    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

</manifest>